# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Django
*.log
db.sqlite3
/static/
/media/
.env
.env.*

# VSCode
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp
*.tmp

# Frontend build
frontend/dist/
frontend/node_modules/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
